@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

// variables
$clr-prim-Cyan: hsl(179, 62%, 43%);
$clr-prim-BrightYellow: hsl(71, 73%, 54%);
$clr-neut-LightGray: hsl(204, 43%, 93%);
$clr-neut-GrayishBlue: hsl(218, 22%, 67%);
$fontfamily: "Karla", sans-serif;

// media sizes

$medium: "screen and(max-width: 768px)";
$large: "screen and(min-width: 12800px)";

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100vh;
}

body {
	display: flex;
	flex-direction: column;
	padding: 10rem 2rem;
	margin: 4.375rem auto;
	align-items: center;
	justify-content: center;
	line-height: 1.6;
	background-color: $clr-neut-LightGray;
	font-family: $fontfamily;
	min-width: 23.4375rem; // 375px
	max-width: 90rem; //1440px
	@media screen and(min-width: 768px) {
		padding: 0;
		margin: auto;
	}
}

.wrapper {
	border-radius: 0.3rem;
	margin-top: 4.375rem;
	margin-bottom: 2rem;
	-webkit-box-shadow: 0px 7px 16px 3px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 7px 16px 3px rgba(0, 0, 0, 0.35);
	@media screen and(min-width: 768px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"top top"
			"mid bot";
		margin-top: 0;
	}
}
